.navbar {
	background: #16471F;
	border-bottom: 2px solid black;
	padding-left: 5px;
	display: flex;
	flex: 1 1 auto;
}
.navbar-user {
	display: block;
	text-decoration: none;
	color: #A0A0A0;
	font-size: 1.3em;
}
.navbar-brand {
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	color: #FFFFFF;
}
.navbar-link {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #A0A0A0;
	border-radius: 2px 2px 2px 2px;
	padding: 0.2em 1em;
	margin: 2px 4px;
}
.navbar-link:hover {
	/* background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)); */
	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}
